@import './styles/variables.css';

html, body, #root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* Панели */
.panel {
  position: fixed;
  z-index: 1100;
  background: var(--background-panel, #23232e);
  border: var(--panel-border, none);
  border-radius: var(--panel-radius, 0px);
}

.panel--minimap { 
  bottom: 0;
  min-width: var(--panel-minimap-width, 200px);
  min-height: var(--panel-minimap-height, 220px);
  padding: var(--panel-minimap-padding, 5px);
  transition: var(--panel-minimap-transition, right 0.30s cubic-bezier(.7,.2,.19,.95));
}

.panel--tool {
  top: 0;
  width: var(--panel-tool-width, 250px);
  height: var(--panel-tool-height, 705px);
  padding: var(--panel-tool-padding, 10px);
  transition: var(--panel-tool-transition, left 0.30s cubic-bezier(.7,.2,.19,.95));
  color: var(--text-color);
}

.panel .info {
  -webkit-font-smoothing: var(--title-font-smoothing, inherit); 
  text-align: center;
  color: var(--accent-color);
  font-family: var(--font-family-main), sans-serif;
  font-size: var(--font-size-base, 17px);
  letter-spacing: var(--title-font-letter-spacing, inherit);
  text-transform: var(--title-font-text-transform, uppercase);
}
